@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(0.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

d-flex align-items-center justify-content-center {
  animation: slideIn 1.5s ease-in;
}
