{% extends "base.html"%}
{% block title %}
<title>Profile</title>
{% endblock %}
{% block content %}
    <form action="profile" method="POST" class="profile_view"></form>
    <br />
    <h2 style="text-align: center; font-family: 'Signika', sans-serif">
      Your Profile
    </h2>
    <br /><br />
    <div h4 style="text-align: center; font-family: 'Signika', sans-serif">
      <h1>{{ listing_id }}</h1>
      <h4>First Name: {{ user.first_name}}</h4>
      <h4>Last Name: {{ user.last_name}}</h4>
      <br />
      <h4>Email: {{ user.email }}</h4>
    </div>
    <br />
    <div style="text-align: center; font-family: 'Signika', sans-serif">
    <a href="../mylistings">
      <button type="button" class="btn btn-secondary btn-lg">
        My Lisitings
      </button>
    </a>
      <button type="button" class="btn btn-secondary btn-lg">
        Change Profile Information/Password
      </button>
      <button type="button" class="btn btn-secondary btn-lg">My Bids</button>
    </div>
    <div>
      <footer class="footer navbar fixed-bottom">
        <p
          class="footer-text"
          style="margin: 0 auto; margin-top: auto; max-height: 25px"
        >
          &copy; 2022 AUCCI
        </p>
      </footer>
    </div>
{% endblock %}
