<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="register" method="POST">
      {% csrf_token %}
      <h4>Enter a Username:</h4>
      <br />
      <input type="text" name="username" />
      <br />
      <h4>Enter an Email Address:</h4>
      <br />
      <input type="email" name="email" />
      <br />
      <h4>Enter a strong password:</h4>
      <br />
      <input type="password" name="pass" />
      <br />
      <h4>Re-Enter your chosen password:</h4>
      <br />
      <input type="password" name="confirmpass" />
      <br />
      <input type="submit" value="Create Account" />
      <br />
      {% for message in messages %}
      <h3 style="color: red">{{message}}</h3>
      {% endfor %}
    </form>
  </body>
</html>
