{% extends "base.html"%} {% block title %}
<title>Search</title>
{% endblock %} {% block content %}
<h2 style="font-family: 'Signika', sans-serif">Enter Your Search Criteria:</h2>
<div class="container" style="font-family: 'Signika', sans-serif">
  <form
    action="search"
    method="POST"
    class="search_criteria"
    style="
      padding: 5%;
      box-shadow: 3px 3px 5px rgb(206, 206, 206);
      border-radius: 25px;
      width: auto;
    "
  >
    {% csrf_token %}
    <div class="form-group row">
      <label for="inputGenderSearch" class="col-sm-2 col-form-label"
        >Gender:</label
      >
      <div class="col-auto my-1">
        <select
          name="gender"
          class="custom-select custom-select-sm"
          id="inputGenderSearch"
          placeholder=""
        >
          <option value="Any">Any</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Unisex">Unisex</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputBrandSearch" class="col-sm-2 col-form-label"
        >Brand:</label
      >
      <div class="col-auto my-1">
        <select
          name="brand"
          class="custom-select custom-select-sm"
          id="inputBrandSearch"
          placeholder=""
        >
          <option value="Any">Any</option>
          <option value="Louis Vuitton">Louis Vuitton</option>
          <option value="Gucci">Gucci</option>
          <option value="Prada">Prada</option>
          <option value="Bape">Bape</option>
          <option value="OVO">OVO</option>
          <option value="Chanel">Chanel</option>
          <option value="Dior">Dior</option>
          <option value="Armani">Armani</option>
          <option value="Versace">Versace</option>
          <option value="Burberry">Burberry</option>
          <option value="Cartier">Cartier</option>
          <option value="Cartier">Fear of God</option>
          <option value="Balenciaga">Balenciaga</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputCategorySearch" class="col-sm-2 col-form-label"
        >Category:</label
      >
      <div class="col-auto my-10">
        <select
          name="category"
          class="custom-select custom-select-sm"
          id="inputCategorySearch"
          placeholder=""
        >
          <option value="Any">Any</option>
          <option value="Shirts">Shirts</option>
          <option value="Shoes">Shoes</option>
          <option value="Jackets">Jackets</option>
          <option value="Hoodies">Hoodies</option>
          <option value="Joggers">Joggers</option>
          <option value="Pants">Pants</option>
          <option value="Jeans">Jeans</option>
          <option value="T-Shirts">T-Shirts</option>
          <option value="Dress">Dress</option>
          <option value="Shorts">Shorts</option>
          <option value="Blouse">Blouse</option>
          <option value="Leggings">Leggings</option>
          <option value="Sports Wear">Sports Wear</option>
          <option value="Blazer">Blazer</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputSizeSearch" class="col-sm-2 col-form-label">Size:</label>
      <div class="col-auto my-1">
        <!-- <input type="password" class="form-control" id="inputPassword3" placeholder="Password"> -->
        <select
          name="size"
          class="custom-select custom-select-sm"
          id="inputSizeSearch"
          placeholder=""
        >
          <option value="Any">Any</option>
          <option value="Extra Small">XS</option>
          <option value="Small">S</option>
          <option value="Medium">M</option>
          <option value="Large">L</option>
          <option value="Extra Large">XL</option>
          <option value="Extra Extra Large">XXL</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPrimaryColorSearch" class="col-sm-2 col-form-label"
        >Primary Color:</label
      >
      <div class="col-auto my-1">
        <select
          name="primary-color"
          class="custom-select custom-select-sm"
          id="inputPrimaryColorSearch"
          placeholder=""
        >
          <option value="Any">Any</option>
          <option value="Red">Red</option>
          <option value="Blue">Blue</option>
          <option value="Purple">Purple</option>
          <option value="Orange">Orange</option>
          <option value="Yellow">Yellow</option>
          <option value="Green">Green</option>
          <option value="Black">Black</option>
          <option value="White">White</option>
          <option value="Brown">Brown</option>
          <option value="Gold">Gold</option>
          <option value="Grey">Grey</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-auto my-1">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </div>
  </form>
</div>
<div>
  <footer class="footer navbar fixed-bottom">
    <p
      class="footer-text"
      style="margin: 0 auto; margin-top: auto; max-height: 25px"
    >
      &copy; 2022 AUCCI
    </p>
  </footer>
</div>
{% endblock %}
