{% extends "base.html"%}
{% block title %}
<title>Search</title>
{% endblock %}
{% block content %}
    <h2 style="font-family: 'Signika', sans-serif">
      Enter Your Search Criteria:
    </h2>
    <div class="container" style="font-family: 'Signika', sans-serif">
      <form
        action="search"
        method="POST"
        class="search_criteria"
        style="
          padding: 5%;
          border-style: solid;
          border-radius: 25px;
          width: auto;
        "
      >
        {% csrf_token %}
        <div class="form-group row">
          <label for="inputGenderSearch" class="col-sm-2 col-form-label"
            >Gender:</label
          >
          <div class="col-auto my-1">
            <select
              name="gender"
              class="custom-select custom-select-sm"
              id="inputGenderSearch"
              placeholder=""
            >
              <option value="any">Any</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="unisex">Unisex</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputBrandSearch" class="col-sm-2 col-form-label"
            >Brand:</label
          >
          <div class="col-auto my-1">
            <select
              name="brand"
              class="custom-select custom-select-sm"
              id="inputBrandSearch"
              placeholder=""
            >
              <option value="any">Any</option>
              <option value="louis vuitton">Louis Vuitton</option>
              <option value="prada">Prada</option>
              <option value="bape">Bape</option>
              <option value="ovo">OVO</option>
              <option value="chanel">Chanel</option>
              <option value="dior">Dior</option>
              <option value="armani">Armani</option>
              <option value="versace">Versace</option>
              <option value="burberry">Burberry</option>
              <option value="cartier">Cartier</option>
              <option value="balenciaga">Balenciaga</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputCategorySearch" class="col-sm-2 col-form-label"
            >Category:</label
          >
          <div class="col-auto my-10">
            <select
              name="category"
              class="custom-select custom-select-sm"
              id="inputCategorySearch"
              placeholder=""
            >
              <option value="any">Any</option>
              <option value="shirts">Shirts</option>
              <option value="jackets">Jackets</option>
              <option value="hoodies">Hoodies</option>
              <option value="joggers">Joggers</option>
              <option value="pants">Pants</option>
              <option value="jeans">Jeans</option>
              <option value="t-shirts">T-Shirts</option>
              <option value="dress">Dress</option>
              <option value="shorts">Shorts</option>
              <option value="blouse">Blouse</option>
              <option value="leggings">Leggings</option>
              <option value="sports wear">Sports Wear</option>
              <option value="blazer">Blazer</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputSizeSearch" class="col-sm-2 col-form-label"
            >Size:</label
          >
          <div class="col-auto my-1">
            <!-- <input type="password" class="form-control" id="inputPassword3" placeholder="Password"> -->
            <select
              name="size"
              class="custom-select custom-select-sm"
              id="inputSizeSearch"
              placeholder=""
            >
              <option value="any">Any</option>
              <option value="xs">XS</option>
              <option value="s">S</option>
              <option value="m">M</option>
              <option value="l">L</option>
              <option value="xl">XL</option>
              <option value="xxl">XXL</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPrimaryColorSearch" class="col-sm-2 col-form-label"
            >Primary Color:</label
          >
          <div class="col-auto my-1">
            <select
              name="primary_color"
              class="custom-select custom-select-sm"
              id="inputPrimaryColorSearch"
              placeholder=""
            >
              <option value="any">Any</option>
              <option value="red">Red</option>
              <option value="blue">Blue</option>
              <option value="purple">Purple</option>
              <option value="orange">Orange</option>
              <option value="yellow">Yellow</option>
              <option value="green">Green</option>
              <option value="black">Black</option>
              <option value="white">White</option>
              <option value="brown">Brown</option>
              <option value="gold">Gold</option>
              <option value="grey">Grey</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </div>
      </form>
    </div>
    <div>
      <footer class="footer navbar fixed-bottom">
        <p
          class="footer-text"
          style="margin: 0 auto; margin-top: auto; max-height: 25px"
        >
          &copy; 2022 AUCCI
        </p>
      </footer>
    </div>
{% endblock %}
