{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link rel="icon" type="image/x-icon" href="{% static 'LogoBetter.png' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Signika:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <title>Search Results</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light sticky-top navbar-expand-lg">
      <a class="navbar-brand" href="../search">
        <img src="{% static 'LogoBetter.png' %}" width="30" height="30" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#mynav"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="../profile" class="nav-link">My Profile</a>
          </li>
          <li class="nav-item"><a href="#" class="nav-link">My Listings</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Create Listing</a></li>
          <li class="nav-item"><a href="#" class="nav-link">My Bids</a></li>
          <li class="nav-item">
            <a href="#" class="nav-link">My Watchlist</a>
          </li>
          <li class="nav-item">
            <a href="../settings_view" class="nav-link">Settings</a>
          </li>
          <li class="nav-item"><a href="logout" class="nav-link">Logout</a></li>
        </ul>
      </div>
    </nav>
    <h2 class="text-center">Settings</h2>
    <div class="container" style="font-family: 'Signika', sans-serif">
      <form
        action="settings_view"
        method="POST"
        style="
          padding: 5%;
          border-style: solid;
          border-radius: 25px;
          width: auto;
        "
      >
        {% csrf_token %}
        <div class="form-group row">
          <div class="col-auto my-1">
            <p>Current First Name: {{ user.first_name }}</p>
            <label for="NewFName">New First Name:</label>
            <input
              type="text"
              name="NewFName"
              placeholder="{{ user.first_name }}"
              class="form-control"
            />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-auto my-1">
            <p>Current Last Name: {{ user.last_name }}</p>
            <label for="NewLName">New Last Name:</label>
            <input
              type="text"
              name="NewLName"
              placeholder="{{ user.last_name }}"
              class="form-control"
            />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-auto my-1">
            <h5>To Change Your Password:</h5>
            <br />
            <label for="password_old">Enter Your Current Password:</label>
            <input
              type="password"
              name="password_old"
              placeholder="Enter Current Password"
              class="form-control"
            />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-auto my-1">
            <label for="password_new">Enter The New Password:</label>
            <input
              type="password"
              name="password_new"
              placeholder="Enter New Password"
              class="form-control"
            />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-auto my-1">
            <label for="password_new_confirm"
              >Enter The New Password Again:</label
            >
            <input
              type="password"
              name="password_new_confirm"
              placeholder="Enter New Password Again"
              class="form-control"
            />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-auto my-1">
            <button
              type="submit"
              class="btn btn-primary"
              onclick="alert('{{ messages }}');"
            >
              Search
            </button>
          </div>
        </div>
        {% for message in messages %}
        <h3 style="color: red">{{message}}</h3>
        {% endfor %}
      </form>
    </div>
    <div>
      <footer class="footer navbar fixed-bottom">
        <p
          class="footer-text"
          style="margin: 0 auto; margin-top: auto; max-height: 25px"
        >
          &copy; 2022 AUCCI
        </p>
      </footer>
    </div>
  </body>
</html>
